.navbar {
  display: flex;
  column-gap: 32px;
  align-items: center;
}
.more-nav {
  position: relative;
  &:hover {
    .more-nav__popup {
      transform: scale(1);
    }
    .more-nav__label {
      color: $color-primary;
      .more-icon {
        color: currentColor;
      }
    }
  }
  &__label {
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-size: 1.8rem;
    font-weight: 400;
    cursor: pointer;
  }
  &__popup {
    transform: scale(0);
    transition: 0.3s;
    transform-origin: top left;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    z-index: 10;
    box-shadow: 0px 0px 3px #666;
    border-radius: 6px;
    left: 0;
    top: calc(100% + 10px);
    padding: 12px 6px;
    row-gap: 6px;
    min-width: 100%;
    width: max-content;
    &::before {
      content: '';
      top: -10px;
      height: 10px;
      left: 0;
      right: 0;
      background-color: transparent;
      position: absolute;
    }
  }
}
