.banner {
  margin-top: 20px;
  .slider {
    width: 100%;
    aspect-ratio: 9/4;
    border-radius: 16px;
    border: 3px solid $color-primary;
    overflow: hidden;
    position: relative;
  }
  .swiper-pagination {
    text-decoration: none;
    position: absolute;
    bottom: 10px;
  }
}
