@import '~/public/styles/base.scss';
.header {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    column-gap: 12px;
    .logo {
      width: 165px;
    }
  }
}
