.item {
  font-size: 1.8rem;
  font-weight: 400;
  position: relative;
  &:hover {
    &::before {
      width: 100%;
    }
  }
  &::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 2px;
    background-color: $color-primary;
    width: 0;
    transition: 0.3s;
  }
}
