.title {
  background: linear-gradient(90deg, #003366 0%, #0066cc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 3.6rem;
  font-weight: 700;
  margin-top: 32px;
  line-height: 1.8;
}
