$color-black: #232323;
$color-white: #fff;
$color-dark-blue: #1f2937;
$color-dark-purple: #3a1097;
$color-sky: #00d1ed;
$color-purple: #6e33f1;
$color-dark-gray: #6c6c6c;

$color-primary: #0066cc;

$color-error: #f73636;

$large-device: 1200px;
$medium-device: 992px;
$small-device: 768px;

$z-index-modal: 100;
